<div class="container fixed left-48">
  <div
    class="text-center text-5xl font-extrabold text-cyan-500 uppercase mb-5 mr-24"
  >
    Product List
  </div>

  <div class="w-0 shadow-md sm:rounded-lg pb-5">
    <form
      class="space-y-4 md:space-y-6 ml-24"
      [formGroup]="searchForm"
      action="#"
    >
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Name</label
        >
        <input
          type="name"
          name="name"
          id="name"
          formControlName="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Enter name"
        />
      </div>

      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Category</label
        >
        <select
          type="category"
          name="category"
          id="category"
          formControlName="category"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="" selected>Not Select</option>
          <option
            *ngFor="let category of categoryList"
            value="{{ category.name }}"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
    </form>

    <table
      border="1"
      class="ml-24 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border border-black border-collapse"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3 border border-black text-center">
            Product name
          </th>
          <th scope="col" class="px-6 py-3 border border-black text-center">
            Description
          </th>
          <th scope="col" class="px-6 py-3 border border-black text-center">
            Category
          </th>
          <th scope="col" class="px-6 py-3 border border-black text-center">
            Image
          </th>
          <th scope="col" class="px-6 py-3 border border-black text-center">
            Price
          </th>
          <th scope="col" class="px-6 py-3 border text-center border-black">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of productList"
          class="odd:bg-white even:bg-gray-50"
        >
          <td
            scope="row"
            class="px-3 py-4 border border-black font-medium w-screen dark:text-black"
          >
            <p class="overflow-hidden whitespace-nowrap text-ellipsis w-80">
              {{ product.title }}
            </p>
          </td>
          <td class="px-4 py-4 border border-black">
            <p
              class="overflow-hidden whitespace-nowrap text-ellipsis w-96 dark:text-black"
            >
              {{ product.description }}
            </p>
          </td>
          <td class="px-6 py-4 border border-black text-center dark:text-black">
            {{ product.category }}
          </td>
          <td class="px-6 py-4 border border-black">
            <img [src]="product.image" width="100" height="100" alt="" />
          </td>
          <td class="px-6 py-4 border border-black dark:text-black text-center">
            {{ product.price }}.000Đ
          </td>
          <td class="px-6 py-4 border border-black">
            <Button
              class="font-medium text-green-500 hover:underline"
              routerLink="/admin/update/{{ product.id }}"
            >
              Edit
            </Button>
            <Button
              (click)="handleDeleteProduct(product.id)"
              class="font-medium text-red-500 hover:underline"
            >
              Delete
            </Button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex ml-24 mt-5">
      <!-- <button
        class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800"
        (click)="onChangePage(0)"
      >
        0
      </button> -->

      <button
        *ngFor="
          let item of generatePagination(
            currentPage,
            ceilNumber(length / perPage)
          )
        "
        class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800"
        (click)="onChangePage(item)"
      >
        {{ item }}
      </button>
    </div>
  </div>
  <div class="py-[20px] ml-24">
    <button
      routerLink="/admin/create"
      type="button"
      class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
    >
      Add New
    </button>
  </div>
</div>
